<% layout('base.layout') -%>
<div class="jumbotron">
    <h1><%= appName %></h1>
    <p><%= tagline %></p>
    <ul>
    	<% drinks.map(function(drink){ %>
    		<li><%= `${drink.name} - ${drink.drunkness}` %></li>
    	<% }); %>
    </ul>
</div>