<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- partial('partials/head') %>
</head>
<body class="container">

<header>
    <%- partial('partials/header') %>
</header>

<main>
    <%- body %>
</main>

<footer>
    <%- partial('partials/footer') %>
</footer>

</body>
</html>